/**{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}*/

path{
	fill: #ccc;
}


g[data-which="west"]{
	stroke: #8DEEEE;
	stroke-width: 5px;
}
g[data-which="midwest"]{
	stroke: #63D1F4;
	stroke-width: 5px;
}
g[data-which="east"]{
	stroke: #008080;
	stroke-width: 5px;
}
g[data-which="south"]{
	stroke: #66CCCC;
	stroke-width: 5px;
}


g:hover path{
	fill: #FF6600;
	stroke: #666;
	stroke-width: 3px;
}